*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face{
    font-family: fuente1;
    src: url(/Fuentes/PatrickHand-Regular.ttf);
}

@font-face{
    font-family: Ubuntu1;
    src: url(/Fuentes/Ubuntu-Medium.ttf);
}

@font-face{
    font-family: Ubuntu2;
    src: url(/Fuentes/Ubuntu-Regular.ttf);
}

@font-face{
    font-family: cursiva1;
    src: url(/Fuentes/Cursiva1.ttf);
}

body{
    font-family:Ubuntu2;
}

header{
    width: 100%;
    height: 70px;
    background: #2C9218;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

h1{
    font-size: 38px;
    text-align: center;
    padding: 15px;
    font-family: cursiva1;
}

h2{
    text-align: center;
    padding: 12px;
    font-size: 28px;
    font-family: cursiva1;
}

h3{
    text-align: center;
    padding: 12px;
    font-size: 30px;
    font-family: cursiva1;
}

h4{
    text-align: center;
    font-size: 2.8vw;
    font-family: cursiva1;
}

h5{
    text-align: center;
    padding: 12px;
    font-size: 2.6vw;
    font-family: cursiva1;
}

.contenedor{
    width: 90%;
    height: 2400px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 12px;
    background-color: #E2E2E2;
    
}

.contenedor1{
    width: 60%;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 12px;
    background: #F6F4F4;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
}


.contenedor2{
    width: 60%;
    height: 300px;
    margin: auto;
    margin-top: 80px;
    padding: 12px;
    background: #F6F4F4;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
}


.contenedor3{
    width: 60%;
    height: 8%;
    margin: auto;
    margin-top: 80px;
    background: #F6F4F4;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
}

.contenedor4{
    width: 60%;
    height: 100px;
    margin: auto;
    margin-top: 80px;
    padding: 12px;
    background: #F6F4F4;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor5{
    width: 60%;
    height: 100px;
    margin: auto;
    margin-top: 80px;
    padding: 12px;
    background: #F6F4F4;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista{
    width: 98%;
    height: 75%;
    margin: auto;
    padding-top: 1vw;
    padding-left: 2.8vw;
    font-size: 2.2vw;
    font-family: cursive;
}

.cuenta{
    width: 90%;
    height: 70%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 2vw;
}


.box1{
    width: 100%;
    height: 0%;
}

.box2{
    width: 45%;
    height: 50px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    background-color: skyblue;
    border-radius: 10px;
    margin-top: 20px;
    
}

.box3{
    width: 45%;
    height: 50px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    border-radius: 10px;
    margin-top: 20px;
}



.box2 a{
    text-decoration: none;
    font-size: 2.4vw;
    font-family: cursiva1;
}

.box3 a{
    text-decoration: none;
    font-size: 2.2vw;
    font-family: cursiva1;
}

.subtitulo5{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: cursiva1;
}

.subtitulo6{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: cursiva1;
}

.mapa{
    width: 60%;
    height: 400px;
    margin: auto;
    margin-top: 10px;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    border-radius: 10px;
}

footer{
    margin: auto;
    width: 100%;
    height: 60px;
    margin-top: 60px;
    background-color: #2C9218;
}

footer a{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: rgba(0,0,0, 0.7);
    font-family: sans-serif;
}