*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face{
    font-family: fuente1;
    src: url(/Fuentes/PatrickHand-Regular.ttf);
}

@font-face{
    font-family: Ubuntu1;
    src: url(/Fuentes/Ubuntu-Medium.ttf);
}

@font-face{
    font-family: Ubuntu2;
    src: url(/Fuentes/Ubuntu-Regular.ttf);
}

@font-face{
    font-family: cursiva1;
    src: url(/Fuentes/Cursiva1.ttf);
}
body{
    
}

header{
    width: 100%;
    height: 70px;
    background: #2C9218;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

h1{
    font-size: 38px;
    text-align: center;
    padding: 15px;
    font-family: cursiva1;
}

.subtitulo{
    width: 55%;
    margin: auto;
    margin-top: 120px;
    height: 70px;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8px;
    background-color: white;
}

h2{
    text-align: center;
    color: black;
    font-size: 35px;
    font-family: cursiva1;
}

.intro{
    width: 70%;
    height: 300px;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    margin: auto;
    margin-top: 40px;
    padding: 8px;
    border-radius: 10px;
}

.subtitulo2{
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
    font-family: cursiva1;    
}

.texto1{
    margin: auto;
    padding-left: 20px;
    font-size: 20px;
    font-family: Ubuntu1;
}


.mapa{
    width: 60%;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border: double 5px black;
}

.info{
    width: 70%;
    height: 300px;
    margin: auto;margin-top: 50px;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    border-radius: 10px;
    
}

.eventos{
    text-align: center;
    font-size: 35px;
    padding-top: 8px;
    font-family: cursiva1;
}


.infoeventos{
    font-size: 20px;
    padding-left: 18px;
    padding-bottom: 10px;
}


footer{
    margin: auto;
    width: 100%;
    height: 60px;
    margin-top: 60px;
    background-color: #aaaaaa;
}

footer a{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: rgba(0,0,0, 0.7);
    font-family: sans-serif;
}