*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face{
    font-family: fuente1;
    src: url(/Fuentes/PatrickHand-Regular.ttf);
}

@font-face{
    font-family: Ubuntu1;
    src: url(/Fuentes/Ubuntu-Medium.ttf);
}

@font-face{
    font-family: Ubuntu2;
    src: url(/Fuentes/Ubuntu-Regular.ttf);
}

@font-face{
    font-family: cursiva1;
    src: url(/Fuentes/Cursiva1.ttf);
}
body{
    
}

header{
    width: 100%;
    height: 70px;
    background: #2C9218;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

h1{
    font-size: 38px;
    text-align: center;
    padding: 15px;
    font-family: cursiva1;
}

.contenedor{
    width: 50%;
    height: 100px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: cursiva1;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
}

.contenedor2{
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    border-radius: 10px;
}

.contenedor2 img{
    filter:brightness(90%);
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    border-radius: 20px;
    padding: 10px;
}

.facebook{
    width: 200px;
    height: 150px;
}

.instagram{
    width: 200px;
    height: 150px;
}
.twitter{
    width: 200px;
    height: 150px;
}
.youtube{
    width: 200px;
    height: 150px;
}

.contenedor3{
    width: 80%;
    height: 200px;
    margin: auto;
    margin-top: 50px;
     box-shadow: 10px 10px 10px 10px #aaaaaa;
    border-radius: 20px;
    padding: 20px;
    font-size: 2vw;
    text-align: justify;
    font-family: Ubuntu1;
}
.contenedor3 a{
    text-decoration: none;
    color: dimgrey;
}



footer{
    margin: auto;
    width: 100%;
    height: 60px;
    margin-top: 60px;
    background-color: #2C9218;
}

footer a{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: rgba(0,0,0, 0.7);
    font-family: sans-serif;
}