*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face{
    font-family: fuente1;
    src: url(/Fuentes/PatrickHand-Regular.ttf);
}

@font-face{
    font-family: Ubuntu1;
    src: url(/Fuentes/Ubuntu-Medium.ttf);
}

@font-face{
    font-family: Ubuntu2;
    src: url(/Fuentes/Ubuntu-Regular.ttf);
}

@font-face{
    font-family: cursiva1;
    src: url(/Fuentes/Cursiva1.ttf);
}

body{
    font-family:Ubuntu2;
}

section{
    width: 80%;
    margin: auto;
    margin-bottom: 28px;    
}


/*Aquí empieza el header*/
header{
    width: 100%;
    height: 70px;
    background: #2C9218;
    color: white;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor1{
    width: 100%;
    margin: auto;
    
}


#barra-menu{
    display: none;
    
}

h1{
    float: left;
    margin-top: 15px;
    font-size: 3vw;
    
}

header label{
    float: right;
    font-size: 35px;
    padding-top: 12px;
    padding-right: 10px;
    cursor: pointer;
}
.menu{
    position: absolute;
    width: 40%;
    height: 90vh;
    background: rgba(51,51,51, 0.9);
    top: 70px;
    left: 0;
    transition: all 0.5s;
    transform: translateX(-200%);
}
.menu a{
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    text-align: left;
}
.menu a:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

header .contenedor1{
    display: table;
    
}

#barra-menu:checked ~ .menu{
    transform: translate(0%);
}
/*Aquí termina el header*/




/*Aqui empieza el banner en slider*/
.slider{
    margin: auto;
    width: 90%;
    overflow: hidden;
    padding-top: 100px;
    position: relative;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 100%;
    
    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in-out;
    
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 1350px;
    height: 520px;
    border-radius: 10px;
}

@keyframes cambio {
    
    0% {margin-left: 0%;}
    10% {margin-left: 0%;}
    
    20% {margin-left: -100%;}
    30% {margin-left: -100%;}
    
    40% {margin-left: -200%;}
    50% {margin-left: -200%;}
    
    65% {margin-left: -300%;}
    70% {margin-left: -300%;}
    
    80% {margin-left: -400%;}
    100% {margin-left: -400%;}
}
/*Aquí termina el banner en slider*/


/*Aquí empieza el texto que va en el banner*/

.textobanner{
    position: absolute;
    top: 55%;
    left: 6%;
    transform: translateX(2%) translateY(70%);
    color: white;
}

h2{
    font-size: 38px;
}

.textobanner1{
    font-size: 25px;
    margin-left: 2%;
    margin-bottom: 10px
}

.textos a{
    display: block;
    text-decoration: none;
    color: white;
    border: solid 2px white;
    padding: 5px;
    font-size: 25px;
    width: 200px;
    margin-top: 10px;
    margin-left: 70px;
}

.textos a:hover{
    background-color: rgba(51,51,51);
    cursor: pointer;
}
/* Aquí termina el texto que vá en el banner*/

/* Aquí empieza el texto que es la introducción*/
.intro{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.textointro{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80vw;
    font-size: 28px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    padding: 5px;
}
/* Aquí termina el texto de introducción */



/* Aquí va el texto del titulo y subtitulo de animal del mes */
h4{
    text-align: center;
    font-family: cursiva1;
    font-size: 38px;
}

.textoanimaldelmes{
    text-align: center;
    font-size: 30px;
    font-family: Ubuntu1;
}


/*Aquí empieza el banner en slider del animal del mes*/
.slider2{
   width: 65%;
    height: 60%;
    margin: auto;
    overflow: hidden;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
     border-radius: 5px;
}

.slider2 ul{
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    padding: 0;
    width: 300%;
    overflow: hidden;
   
    
    
    
    animation: slider2 20s infinite;
    animation-timing-function: ease-in-out;
}

.slider2 li{
    list-style: none;
    overflow: hidden;
}

.slider2 img{
    margin: auto;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

}


@keyframes slider2{
    
    0% {margin-left: 0%;}
    25% {margin-left: 0%;}
    
    33% {margin-left: -100%;}
    60% {margin-left: -100%;}
    
    70% {margin-left: -200%;}
    100% {margin-left: -200%;}
}
/* Aquí termina el slider2 */

/* Aquí comienza la descripción del animal del mes*/
.textoanimaldelmes2{
    width: 50vw;
    margin: auto;
    margin-top: 40px;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    border-radius: 10px;
    padding: 10px;
}

.textoinfo1{
    text-align: justify;
    font-size: 22px;
    font-family: cursive;
    padding: 5px;
}
/*Aquí termina la descripición de animal del mes*/


/*Aquí empieza la vision y mision de la fundación*/
.contenedor2{
    width: 100%;
    height: 20%;
    margin: auto;
    margin-top: 50px;
    
    
}

h5{
    text-align: center;
    font-size: 25px; 
}

.textomision p{
    width: 50vw;
    text-align: justify;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    font-size: 25px;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    border-radius: 10px;
    padding: 10px;
    
}

h6{
    text-align: center;
    font-size: 25px; 
    margin: auto;
    margin-top: 30px;
}

.textovision p{
    width: 50vw;
    text-align: justify;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    font-size: 25px;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    border-radius: 10px;
    padding: 10px;
    
}
/* Aquí termina la misión y visión del sitio*/

footer{
    height: 80px;
    background-color: green;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
}
